%section.bg-white
  .row.ml-1.mr-1
    .col-md-7.text-center
      - sp_options = 'width: 168px; height: 168px; object-fit: cover;'
      - pc_options = 'width: 330px; height: 330px; object-fit: cover;'
      .center-image.d-none.d-md-block.mb-3.mt-5
        = image_tag profile.image_url, class: 'rounded-circle img-fluid', style: pc_options
      .center-image.d-block.d-md-none.mb-3.mt-5
        = image_tag profile.image_url, class: 'rounded-circle img-fluid', style: sp_options
      .center-sns
        .sns_link.mb-3
          - if profile.sns_links.any?
            - profile.sns_links.each do |sns_link|
              = sns_link_tag(sns_link)

    .col-md-5.mb-3.mt-3
      %p.h3.font-weight-bold= profile.name

      - if profile.affiliations.any?
        .affiliation.mb-3
          %p.font-weight-bold= Vision::Affiliation.model_name.human
          %ul
            - profile.affiliations.each do |affiliation|
              %li= [affiliation.organization_name, affiliation.department_name].join(' ')

      - if profile.research_fields.any?
        .research-field.mb-3
          %p.font-weight-bold= Vision::ResearchField.model_name.human
          .mr-2.ml-2
            - profile.research_fields.each do |research_field|
              .badge.badge-secondary= research_field.name

      - if profile.research_keywords.any?
        .research-keyword.mb-3
          %p.font-weight-bold= Vision::ResearchKeyword.model_name.human
          .mr-2.ml-2
            - profile.research_keywords.each do |research_keyword|
              .badge.badge-secondary= research_keyword.name

      - if profile.research_publication_links.any?
        .research-keyword.mb-3
          %p.font-weight-bold= Vision::ResearchPublicationLink.model_name.human
          .mr-2.ml-2
            - profile.research_publication_links.each do |research_publication_link|
              .publication_link
                = link_to research_publication_link.url, '', class: 'text-dark text-decoration-none mb-2'
    .col.mb-3.mt-3
      %p.font-weight-bold.text-left.h5= Vision::Profile.human_attribute_name(:vision)
      .text-break.ml-2.mr-2.lead= regular_format(profile.vision)
