- if research_outputs.present?
  %section.bg-white
    .row.ml-1.mr-1
      .col.mb-3.mt-3
        %h2.font-weight-bold.text-left.h5= ResearchOutput.model_name.human
        %table.table.table-borderless.my-3
          %tbody
            - research_outputs.each do |research_output|
              %tr
                %th.border-right.small.col-4.col-sm-3.col-md-2
                  = l(research_output.published_on)
                %td.col-8.col-sm-9.col-md-10
                  %p.small.mb-0.text-muted= research_output_category_label(research_output)
                  %h3.h5= link_to(research_output.title, research_output.url)
                  - if (authors = research_output.authors).present?
                    %p.small.my-0.text-muted= authors
                  - if (description = research_output.description).present?
                    %p.small.my-0.text-muted= description
