- if research_fundings.present?
  %section.bg-white
    .row.ml-1.mr-1
      .col.mb-3.mt-3
        %h2.font-weight-bold.text-left.h5= ResearchFunding.model_name.human
        %table.table.table-borderless.my-3
          %tbody
            - research_fundings.each do |research_funding|
              %tr
                %th.border-right.small.col-4.col-sm-3.col-md-2
                  = l(research_funding.adopted_on)
                %td.col-8.col-sm-9.col-md-10
                  %p.small.my-0.text-muted= research_funding_funder_label(research_funding)
                  %h3.h5
                    - if research_funding.url.present?
                      = link_to(research_funding.name, research_funding.url)
                    - else
                      = research_funding.name
                  %p.small.my-0.text-muted
                    = research_funding.amount.to_fs(:delimited)
                    = t('.yen')
                  - if research_funding.research_topic.present?
                    %p.small.my-0.text-muted= research_funding.research_topic
